---
import type { SimpleData } from "@/config/landing.interface";
import { getLandingData } from "@/services/data.service";

const mainData = await getLandingData();

const meta: SimpleData = {
  title: "Kochkurs",
  description: "Kochkurs 2026",
};
---

<!doctype html>
<html
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
  lang={mainData.meta.lang ?? "en"}
>
  <head>
    <meta charset={mainData.meta.charset ?? "UTF-8"} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/cook.png" />
  </head>
  <body class="bg-green">
    <canvas id="canvas"></canvas>
    <div id="content">
      <h1 class="text-4xl font-semibold">Hueregutschein</h1>
      <h2 class="mt-10 text-lg">Leckere Lea,</h2>
      <p class="mt-3 text-lg">
        Pack dein Hütli ein und zwar geschwind, wir lernen gemeinsam wie man den
        Kochlöffel schwingt.<br />
        Zu lange stehen wir in der Küche schon in Sergios Schatten, doch bald wird
        er abgezogen der Lappen.<br />
        Vegan around the World werden wir uns wagen, vorausgesetzt Ingo wird nicht
        schon in Schnibbel-Town verzagen.
      </p>
      <p class="mt-3 text-lg">
        Alles liebe und Bussi aufs Bauchi<br />deine Boys 💚
      </p>
    </div>
    <img id="picture" src="/wg-cooks.png" alt="WG Köche" />
  </body>
</html>

<style>
  body {
    overflow: hidden;
    margin: 0;
  }

  .bg-green {
    background-color: #5e936c;
  }

  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #content {
    position: relative;
    z-index: 2;
    color: #e8ffd7;
    text-shadow: #93DA97 1px 0 10px;
    height: 100vh;
    margin: 1rem;
  }

  h1 {
    color: #3e5f44;
  }

  #picture {
    position: absolute;
    bottom: 0;
  }

  #fright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-bottom: 2rem;
  }
</style>
