---
import type { SimpleData } from "@/config/landing.interface";

const meta: SimpleData = {
	title: "Halloween",
	description: "Halloween 2024"
}
---
<!doctype html>
<html
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
>
  <head>
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/pumpkin.png" />
	<script src="public/halloween.js"></script>
  </head>
  <body class="bg-black">
	<canvas id="canvas"></canvas>
  </body>
</html>

<style>
  body {
	overflow: hidden;
    margin: 0;
  }
</style>
