---
import type { SimpleData } from "@/config/landing.interface";
import { getLandingData } from "@/services/data.service";

const mainData = await getLandingData();

const meta: SimpleData = {
  title: "Halloween",
  description: "Halloween 2024",
};
---

<!doctype html>
<html
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
  lang={mainData.meta.lang ?? "en"}
>
  <head>
    <meta charset={mainData.meta.charset ?? "UTF-8"} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/pumpkin.png" />
    <script src="public/halloween.js"></script>
  </head>
  <body class="bg-black">
    <canvas id="canvas"></canvas>
    <div id="content">
      <h1 class="text-4xl font-semibold md:text-6xl">
        Hall🎃ween 2024
      </h1>
      <h2 class="mt-10 text-lg opacity-80 md:text-2xl">
        Wo? Natürlich in der Seeröschen WG (Eingang Kreuzstraße)
      </h2>
    </div>
  </body>
</html>

<style>
  body {
    overflow: hidden;
    margin: 0;
  }

  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #content {
    position: relative;
    z-index: 2;
    color: white;
    height: 100vh;
    margin: 1rem;
  }

  h1 {
    color: orange;
  }
</style>
