---
import Action from "@/components/Action.astro";
import Card from "@/components/Card.astro";
import Centered from "@/layouts/Centered.astro";
import Layout from "@/layouts/Layout.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.eventsData}>
  <Centered>
    <h1 class="text-4xl text-center font-semibold md:text-6xl">
      {data.eventsData.title}
    </h1>
    <section class="flex justify-center mt-48 h-screen">
      <div class="md:w-1/2">
        <Card>
          <Action as="a" href="events/halloween"> Halloween </Action>
        </Card>
      </div>
    </section>
  </Centered>
</Layout>
