---
import type { SimpleData } from "@/config/landing.interface";
import { getKaraokeList, getLandingData } from "@/services/data.service";

const mainData = await getLandingData();
const songList = await getKaraokeList();

const songList1 = songList.slice(0, 45);
const songList2 = songList.slice(45);

const meta: SimpleData = {
  title: "Singo",
  description: "Singo 2025",
};
---

<!doctype html>
<html
  lang={mainData.meta.lang ?? "en"}
>
  <head>
    <meta charset={mainData.meta.charset ?? "UTF-8"} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/disco-ball.png" />
  </head>
  <body class="bg-black">
    <div id="content">
      <img class="centered" src="/disco-ball.gif" alt="Disco Ball" />
      <h1 class="text-4xl font-semibold md:text-6xl">Singo 2025</h1>
      <hr>
      <table class="centered">
        <tr>
          <td>
            <ol>
              {
                Array.from(songList1, (song, i) => (
                  <li>
                    {i + 1}. {song.title}
                  </li>
                ))
              }
            </ol>
          </td>
          <td>
            <ol>
              {
                Array.from(songList2, (song, i) => (
                  <li>
                    {i + 1}. {song.title}
                  </li>
                ))
              }
            </ol>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>

<style>
  body {
    overflow: hidden;
    margin: 0;
  }

  #content {
    position: relative;
    z-index: 2;
    color: white;
    height: 100vh;
    margin: 1rem;
    text-align: center;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color: lightblue;
  }

  hr {
    margin-bottom: 30px;
  }

  ol {
    text-align: left;
  }
</style>
